@model IEnumerable<TP4.EntityFrameWork.PublicAPI.Models.HPotterView>

@{
    ViewBag.Title = "Index";
}

<h2 class="h2">Personajes de Harry Potter</h2>



        <div class="card" style="width: 18rem;">
            @foreach (var item in Model)
            {

                <img src="@item.Image" class="card-img-top" alt="imagen" width="150" height="150">

                <div class="card-body">
                    <h3 class="card-title"><b>@Html.DisplayFor(modelItem => item.Name)</b></h3>
                    <p class="card-text"> <b><u>Specie: </u></b><i>@Html.DisplayFor(modelItem => item.Species)</i></p>
                    <p class="card-text"> <b><u>Gender: </u></b><i>@Html.DisplayFor(modelItem => item.Gender)</i></p>
                    <p class="card-text"> <b><u>House:</u></b>  <i>@Html.DisplayFor(modelItem => item.House)</i></p>
                    <br />

                </div>
            }
        </div>

       
