@model List<TP4.EntityFrameWork.Web.Models.ShippersView>

@{
    ViewBag.Title = "Shippers";
}

<div class="container">

    @*@if (TempData["mensaje"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["mensaje"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }*@

    <div class="row">
        <h1>Empleados</h1>

        <div style="margin-bottom:20px;">
            @Html.ActionLink("Agregar Shipper", "Insert", new { area = "" }, new { @class = "btn btn-primary" })
        </div>
    </div>
    <div class="row">
        <table class="table table-striped table-dark rounded-lg table-borderless ">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Teléfono</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var shipper in Model)
                {
                    <tr>
                        <th scope="row">@shipper.Id</th>
                        <td>@shipper.Nombre</td>
                        <td>@shipper.telefono</td>
                        <td>
                            @Html.ActionLink("Borrar", "Delete", new { id = shipper.Id }, new { @class = "btn btn-danger", onclick = "return confirm('¿Confirmar borrado del shipper?')" })
                            @Html.ActionLink("Editar", "Update", new { id = shipper.Id }, new { @class = "btn btn-info" })
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


